@import "tailwindcss";

/* Global MongoDB Theme Variables */
:root {
  --mongodb-slate: #001E2B;
  --mongodb-green: #00ED64;
  --mongodb-forest: #00684A;
}

@layer components {
  /* Guard Scanner Overrides */
  #reader {
    border: none !important;
  }

  #reader__dashboard_section_csr button {
    @apply bg-[#00684A] text-white font-bold py-2 px-6 rounded-md shadow-md;
    transition: all 0.2s ease;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.1em;
    margin-top: 1rem;
  }

  #reader__dashboard_section_csr button:hover {
    @apply bg-[#00ED64] text-[#001E2B];
  }

  /* Fixed the !important error here */
  #reader video {
    @apply rounded-lg border-2 border-[#093244];
    border-radius: 0.5rem !important; 
  }
}